/* Little Lemon */
/*MENU*/

html{
    background-color:none;
    height:1000px;
}

.bodyMenu{
    min-height: 600px;
    height:875px;
    max-height: 1750px;
    vertical-align: middle;
    background-color: beige;
    opacity:1;
    width: 900px;
    max-width: 900;
    min-width:900;
    margin:auto;
    font-family: Helvetica;
    border:1px lightgray solid;
}

.headerContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.75),lightblue);
    width:900px;
    height:6rem;
    position:fixed;
    text-align: center;
    padding-bottom: 2rem;
    opacity: 1;
    z-index: 1;
}

.headerContainer:hover{
    cursor:pointer;
}
    
.backButton{
    display:flex;
    width:14%;
    height:12%;
    /* background-color: aqua; */
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.10),lightblue);
    margin-top:2px;
    margin-bottom:6px;
    margin-left:6px;
    padding:0;
    border:none;
}

.insideBackButton{
    display:flex;
    width:100%;
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.95),lightblue);
    justify-content: space-evenly;
    margin-left:7px;
    margin-bottom:px;
    border:solid grey 1px;
    z-index: 2;
}

.menuTextHeadline{
    width:100%;
    text-align: center;
    font-size: large;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 19px;
    padding-bottom:20px;
    background-color: beige;
}

.fillupContainer{
    height:12rem;
    border:none;
    background-color:none;
    position: block;
    margin:auto;
    background-color: beige;
}

.menuItemsContainer{
    display: flex;
    flex-direction: row;
    color:black;
    border-top:solid 1px blue;
    border-bottom:solid 1px blue;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 2rem;
}

.col1{
    display:flex;   
    flex-direction: column;
    width:49%;
    margin-left:0;
    border-right: solid 1px black;
    border-left:none;
}

.col2{
    display:flex;
    flex-direction: column;
    margin-right:1rem;
    width:49%;
    border-left: 0px;
}

.menuSectionsHeadline{
    text-align: center;
    font-weight: 900;
}

.hrMenuSeparator{
    width:80%;
    border:solid tomato 1px;
    opacity:.75;

}

.hrMenu{
    width:90%;
    border:solid tomato 1px;
    opacity:.75;

}

.itemContainer{
    display:flex;
    width:100%;
    border:none;
}

.plateNameContainer{
    display:flex;
    flex-direction: column;
    width:70%;
    border:none;
    flex:1 1 auto;
    margin-left: 3px;
    margin-bottom:3px;
}

.plateName{
    font-weight: 600;
    margin-top:0;
    margin-bottom: 0;
    color:black;
}

.plateDescription{
    font-size: smaller;
    text-indent: 3px;
    margin-top: 0;
    margin-left:1px;
    margin-bottom: 0;
}

.platePrice{
    width:30%;
    margin-left: 3px;
    margin-top: 0;
    text-align: center;
    flex:1 1 auto;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
}

.item0{
    width:100%;
    height:3px;
    background-color:beige;
}

.item1{
    width: 45.5%;
    height:85%;
    flex: 1 1 1;
    margin:auto;
    margin-top: 15px;
    padding:5px
}

.item2{
    width:33%;
    border:grey 1px solid;
    flex:1 1 1;
    margin-top: -30px;
}

.item3{
    width:100%;
    height:3px;
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.25),lightblue); 
    flex:1 1 1;
}

.item4{
    width:33%;
    border:grey 1px solid;
    flex: 1 1 1;
} 

.ftContainerIndex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.75),lightblue);
    width:100%;
    height:3rem;
    text-align: center;
    padding-bottom: 2rem;
    opacity: 1;
    z-index: 2;
    align-items: center;
}

.ftContainer:hover{
    cursor:pointer;
}

.ftContainer{
    display:flex;
    flex-direction: row;
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.75),lightblue);
    width:100%;
    height:3rem;
    text-align: center;
    padding-bottom: 2rem;
    opacity: 1;s
    z-index: 2;
    align-items: center;
}

.ftItem1{
    width: 28%;
    height:3rem;
    flex: 1 1 1;
    margin-top: 15px;
    padding: 5px;
    margin-left:3px;
}

.ftItemCopyright{
    padding-left:20px;
    margin-left: 20px;
}

.ftItemCopyrightText{
    width:28%;
    margin-left:5px;
    margin-top:20px;
}

/*LOCATIONS*/

.bodyLocations{
    min-height: 600px;
    height:1350px;
    max-height: 1350px;
    vertical-align: middle;
    background-color: beige;
    opacity: 1;
    width:900px;
    margin:auto;
    font-family: Helvetica;
    border:1px lightgray solid;
}

.mapContainer{
    display:flex;
    flex-direction: column;
    margin-left: 1rem;
}

/*JOB APPLICATION*/

.bodyApplication{
    min-height: 600px;
    height:1075px;
    vertical-align: middle;
    background-color: beige;
    opacity:1;
    width:900px;
    margin:auto;
    font-family: Helvetica;
    border:1px lightgray solid;
}

.applicationMessage{
    width:100%;
    flex:1 1 1;
    color:green;
    font-size: xsmall;
    padding-top: 1rem;
    background-color:beige;
}

.applicationTextHeadline{
    width:100%;
    text-align: center;
    font-size: large;
    font-weight: 800;
    margin-top: 7px;
    padding-top: 0px;
    padding-bottom:0px;
    background-color: beige;
}

/*Now Hiring animation*/

@keyframes blinker {
    from {
            opacity:0; 
    }
  
    to {
            opacity:1
    } 
}

#nowHiringApplication {
    animation-duration: 0.5s;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    transition-timing-function: linear;
  }

.nowHiringApplication{
    width:100%;
    flex: 1 1 1;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    position: relative;
    margin-top: -10px; 
    margin-bottom:0px;
    visibility: visible;
    padding-top: 0px;
    padding-bottom:0px;
}

.applicationFillUpContainer{
    height:15rem;
    border:none;
    background-color:none;
    position: block;
    margin:auto;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width:40%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.25rem;
    border:solid grey 1px;
    padding: 3px;
    padding-right: 1rem;
}

.applicationFieldLabel{
    flex: 1 1 1;
    background-color: none;
    margin-left: 1rem;
    color:grey;
    font-weight: 600;
}

.applicationField{
    flex: 1 1 1;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.submit{
    width:45%;
    margin:auto;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: center;
    padding:auto;
    background-image:linear-gradient(5deg,azure,rgb(155,155,205,.10),lightblue);

}

